@page "/game_of_life"
<h1>Game of life</h1>
<p>Current count: @currentCount</p>
<hr>
@{
    if(currentCount==0){
        /*
        e.live(2,1);
        e.live(1,2);
        e.live(1,3);
        e.live(2,4);
        e.live(3,2); 
        e.live(3,3); 
       
        e.live(8,6); 
        e.live(8,7);
        e.live(9,6);
        e.live(9,7);
        e.live(10,8);
        e.live(10,9);
        e.live(11,8);
        e.live(11,9);
        */
    }
}

<table class="enviroment">
    @for(var i=0; i<@e.total_of_rows(); i++){
        <tr>
        @for(var j=0; j<@e.total_of_cols(); j++){
            @if(true){
                <td class="cell alive"></td>
            }
            else
            {
                <td class="cell dead"></td>
            }
        }
        </tr>
    }
</table>
<hr>
<button class="btn btn-primary" @onclick="IncrementCount">Next</button>
@code {
    private int currentCount = 0;
    
    private Data.Environment e = new Data.Environment(15,15);
    
    private void IncrementCount()
    {
        currentCount++;
        //e.nextConwayStep();
    }
}
